/* import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

/* Reset-ish */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Google Sans Flex";
}

body {
    margin: auto;
    max-width: 96rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-weight: 100;
}

[hidden] {
    display: none !important;
}

[disabled] {
    pointer-events: none;
}

/* HEADER */
header>div>span {
    font-size: xx-large;
    font-weight: 50;
}

header>div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 96rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

@media (max-width: 48rem) {
    header {
        padding: 1.5rem 3rem;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
    }
}

/* MAIN */
main {
    flex: 1;
    margin: 8.25rem 3rem 0rem 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5rem;
}

@media (max-width: 48rem) {
    main {
        margin-top: 7.25rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}

/* Responsive Design : Mobile S */
@media (max-width: 21.75rem) {
    main {
        margin-top: 8.25rem;
    }
}

/* leftSide : Game Rules & Topic Choosing */
.leftSide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Section : Game Rule */
.gameRule {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Section : Topic Choosing */
/* topic-Header */
button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 3px 3px 5px 0.5px lightgray;
    cursor: pointer;
}

button:hover {
    transform: translateY(-2.5px);
}

.topic-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* topic-Choices */
.topic-Choices>button>div>span {
    font-size: 1.5rem;
}

.topic-Choices>button>div>h3 {
    width: 5rem;
    text-align: left;
}

.topic-Choices>button>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.topic-Choices>button>p {
    text-align: left;
}

@media (max-width: 48rem) {
    .topic-Choices>button>p {
        margin-left: 2.5rem;
    }
}

.topic-Choices>button {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 48rem) {
    .topic-Choices>button {
        flex-direction: column;
        align-items: start;
        gap: 0;
    }
}

.topic-Choices>button.selectedTopic {
    color: white;
    background-color: gray;
    box-shadow: none;
    transform: translateY(0);
}

/* .topic-Choices>button.notSelected {
    transform: translateY(0);
} */

.topic-Choices {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow: auto;
    height: 20rem;
    padding: 1.5% 5% 1.5% 0;
}

/* Responsive Design : Mobile S */
@media (max-width: 21.75rem) {
    .topic-Choices {
        padding-right: 8%;
    }
}

.topicChoosing {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* rightSide : Quiz Description, Quiz & Mode-Hangman */
.rightSide {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Section : Quiz Description */
.quizDescription>div>h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

.quizDescription>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 48rem) {
    .quizDescription>div {
        display: inline-block;
    }
}

.quizDescription>p {
    font-size: 1.5rem;
    font-weight: bold;
}

.quizDescription {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

/* Section : Quiz */
.quiz-Choices>button>p {
    text-align: left;
}

.quiz-Choices>button {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.correctChoose {
    color: black;
    background: yellowgreen;
}

.wrongChoose {
    color: black;
    background: tomato;
}

.quiz-Choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
}

@media (max-width: 48rem) {
    .quiz-Choices {
        grid-template-columns: 1fr;
    }
}

.quiz {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Section : Mode-Hangman */
.hangmanMode {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* hangman-Hint */
.hangman-Hint>h4 {
    font-size: 1.15rem;
    font-weight: 500;
}

.hangman-Hint {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/* hangman-Word */
/* hangman-Word : Section - hangman-Drawing */
.hangman-Drawing {
    width: 40%;
    aspect-ratio: 1 / 1;
    /* border: 1px solid gray; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 48rem) {
    .hangman-Drawing {
        margin: auto;
        width: 100%;
        max-width: 20rem;
    }
}

.invisibleHangmanPart {
    display: none;
}

.hangman-Drawing>img {
    width: 60%;
}

/* hangman-Word : Section - hangman-wordGuessing */
/* hangman-Answer */
.hangman-Answer>span {
    width: 2rem;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hangman-Answer>span.spacebar {
    width: 1rem;
    border: none
}

@media (max-width: 48rem) {
    .hangman-Answer>span.spacebar {
        height: 0;
        flex-basis: 100%;
    }
}

.hangman-Answer {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.alphabet>button {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alphabet>button.selectedAlphabet {
    color: white;
    background: black;
    box-shadow: none;
    transform: translateY(0);
}

.alphabet {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    flex-wrap: wrap;
}

/* Responsive Design : Mobile S */
@media (max-width: 21.75rem) {
    .alphabet {
        width: 100%;
    }
}

/* lose */
/* lose-Announce */
.lose-Announce>span {
    font-size: 2rem;
}

.lose-Announce>p {
    font-size: 1.5rem;
    font-weight: 650;
}

.lose-Announce {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

/* hangman-answerKey */
.hangman-answerKey>p>span {
    font-weight: 500
}

.lose>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

@media (max-width: 48rem) {
    .lose>div {
        flex-direction: column;
    }
}

.lose {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.hangman-wordGuessing {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1.5rem;
}

@media (max-width: 48rem) {
    .hangman-wordGuessing {
        width: 100%;
    }
}

.hangman-Word {
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 48rem) {
    .hangman-Word {
        flex-direction: column;
    }
}

/* Win */
.win {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.win>p {
    font-size: 2.75rem;
    font-weight: 650;
}

/* FOOTER */
footer>p {
    margin: 1.5rem 3rem;
    font-weight: 500;
}